body {
  font-family: 'Lato', sans-serif;
  background-color: #FFF9F2;
  color: #4B2E2B;
}

.navbar {
  background-color: #4B2E2B !important;
}

.hero {
  background: url('../images/hero.jpg') no-repeat center center/cover;
  height: 90vh;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.hero h1 {
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
}

section h2 {
  font-family: 'Playfair Display', serif;
}

.btn-light {
  background-color: #A3B18A;
  border: none;
  color: #fff;
  font-weight: bold;
}

.btn-light:hover {
  background-color: #8A9E75;
}
